@mixin breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin ellipsis($clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
}

@mixin ellipsisRow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
