<header class="header">
  <div class="container header__container">
    <h2>LoremIpsum.<span class="blue">Net</span></h2>
    {{> _nav-list }}
  </div>
  <button class="button header__button" data-modal="#modal-burger">
    <svg  viewBox="0 0 50 50" fill="none" class="icon">
      <mask id="mask0_15_5517" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="50" height="50">
        <rect width="50" height="50" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_15_5517)">
        <path d="M8.33325 35.9777V33.8943H41.6666V35.9777H8.33325ZM8.33325 26.0417V23.9584H41.6666V26.0417H8.33325ZM8.33325 16.1058V14.0225H41.6666V16.1058H8.33325Z" fill="white"/>
      </g>
    </svg>
  </button>
</header>
