<section class="section intro">
    <picture>
        <source media="(max-width: 768px)" srcset="assets/images/work-small.webp">
        <img src="assets/images/work.webp" alt="work">
    </picture>
    <div class="intro__content">
        <h1>
            <span class="blue">Lorem ipsum</span> dolor sit <br> amet
            consectetur <span class="blue">adipiscing</span>
        </h1>
        <div class="intro__content-text">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
            <p>Totam rem aperiam eaque ipsa</p>
            <p>Sit voluptatem accusantium doloremque laudantium</p>
            <p>Sed ut perspiciatis, unde omnis iste natus error</p>
        </div>
        <div class="intro__content-controller">
            <button class="btn btn-primary" id="order-btn"><span>Заказать</span></button>
            <button class="btn btn-secondary"><span>Подробнее</span></button>
        </div>
    </div>


</section>